/*CONGRATULATIONS*/

.congratulations {
  background-image: url('../assets/images/background-page2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* ajusta conforme o necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white; /* ou outra cor que contraste com o fundo */
  text-align: center;
}

.text-background {
  max-width: 600px;
 
}

.text-background h1 {
  margin-bottom: 40px;
  color: var(--text-color-green);
  font: (--h1)
}


.congratulations .text-background p {
  font: var(--text-md);

}

p + p {
  margin-top: 20px;
}

/*SOCIAL-MEDIA SECTION*/

.media {
  background-color: var(--bg-color-dark);
  padding: 6rem 4rem;

  
}
.social-media-title {

  text-align: center;
 
  color: var(--text-color-light);
  font: var(--h3);

  span {
    color: var(--text-color-green);
  }
  
  h3 {
    margin-bottom: 30px;
  }
}


.social-media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
 
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-media {
  background-color: var(--bg-color-light);
  
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  min-height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h4 {
  color: var(--text-color-dark);
  font: var(--h4);
  width: 150px; 
  }

  p {
  color: var(--text-color-dark);
  font: var(--text-xsm); 
  width: 200px;
  margin-top: 10px;
  }

  button {
    background-color: var(--bg-color-dark);
    color: var(--text-color-green);
    font: var(--text-xsm);

    padding: 0.3rem 1rem;
    margin-top: 1rem;

    border: none;
    border-radius: 0.6rem; 
  }

  }

  .whatsapp {
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h1 {
      margin-top: 20px;
      font: var(--h1);
    }
  

    button {
    background-color: var(--bg-color-dark);
    color: var(--text-color-green);
    font: var(--text-xsm);

    padding: 0.3rem 1rem;
    margin-top: 2rem;

    border: none;
    border-radius: 0.6rem; 

     }

  }