/*HERO SECTION*/

.hero {
background-color: var(--bg-color-dark);
min-height: 100vh;

padding: 4rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

gap: 3rem;

}

.hero img {
  width: 477px;
  max-width: 100%;
  height: auto;

}

.content {
color: var(--text-color-light);
max-width: 50rem; /*mudança*/
width: 100%; /*mudança*/

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

gap: 2rem;

font: var(--h1);
 
}

.content span {
  color: var(--text-color-green);
 
}

.content h1 span {
  margin-top: 1rem;
}

.content p {
  font: var(--text-md);
 
}
button {

  background-color: var(--bg-color-light);
  padding: 0.8rem 3rem;
  border-radius: 0.6rem;
  font: var(--h4);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

}

/*CARDS SECTION*/

.container {
 padding: 6rem 4rem;
 background-color: var(--bg-color-light);
 width: 100%; /*mudança*/
 
}

.container h2 {
  font: var(--h2);
  color: var(--text-color-black);
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2rem;
  }

.grid {
display: grid;
grid-template-columns: repeat(3, 1fr); 

gap: 2rem;
max-width: 1200px;
margin: 0 auto;

}

.grid-cards {
  background-color: var(--bg-color-dark);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  min-height: 300px; /*mudança*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.icon {
width: 80px;
height: 80px;
margin-bottom: 0.8rem;

padding: 10px;

}

.grid-cards img {

object-fit: cover;

}


.grid-cards h4 {
    font: var(--h4);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--text-color-light);

  }

.grid-cards p {
  font: var(--text-sm);  
}

/*Challenge Section*/

.challenge {
 padding: 4rem 2rem;
 background-color: var(--bg-color-dark);

 display: flex;
 gap: 60px;
 align-items: center;
 justify-content: center;


}


figure img {

  width: 340px;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  
}


.content-challenge {
 
  color: var(--text-color-light);
  max-width: 600px;
  text-align: justify;
  
  
}

.content-challenge h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;

}

.content-challenge p {
  font: var(--text-sm);
  margin-bottom: 30px;
             
}

.content-challenge button {
  padding: 1rem 3rem;
  margin-top: 20px;
  
}

/*Learning-topics SECTION*/

/*.learning-topics {
  background-color: var(--bg-color-light);
  padding: 2rem 4rem;

  position: relative;
  height: 100vh;
}

.box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/



.learning-topics {
  background-color: var(--bg-color-light);
  padding: 2rem 4rem;

}

.box-content {
  max-width: 720px;
  width: 100%; 

  margin: 0 auto;

}

.title-box {
  background-color: var(--bg-color-dark);
  color: var(--text-color-light);
  font: var(--h4);

  display: flex;
  padding: 1rem;
  border-radius: 5px;
 
}
.learning-box {
  background-color: var(--bg-color-white);

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 200px;
}

.learning-box ul {
  list-style: none;
  margin-left: 10px;
  
  font: var(--text-xsm);
}

.footer-box {
background-color: var(--bg-color-dark);
padding: 1.5rem;
border-radius: 5px;

}

/*CONGRATULATIONS*/

.congratulations {
  background-image: url('../assets/images/background-page2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* ajusta conforme o necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white; /* ou outra cor que contraste com o fundo */
  text-align: center;
}

.text-background {
  max-width: 600px;
 
}

.text-background h1 {
  margin-bottom: 40px;
  color: var(--text-color-green);
  font: (--h1)
}


.congratulations .text-background p {
  font: var(--text-md);

}

p + p {
  margin-top: 20px;
}

/*SOCIAL-MEDIA SECTION*/

.media {
  background-color: var(--bg-color-dark);
  padding: 6rem 4rem;

  
}
.social-media-title {

  text-align: center;
 
  color: var(--text-color-light);
  font: var(--h3);

  span {
    color: var(--text-color-green);
  }
  
  h3 {
    margin-bottom: 30px;
  }
}


.social-media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
 
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-media {
  background-color: var(--bg-color-light);
  
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  min-height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h4 {
  color: var(--text-color-dark);
  font: var(--h4);
  width: 150px; 
  }

  p {
  color: var(--text-color-dark);
  font: var(--text-xsm); 
  width: 200px;
  margin-top: 10px;
  }

  button {
    background-color: var(--bg-color-dark);
    color: var(--text-color-green);
    font: var(--text-xsm);

    padding: 0.3rem 1rem;
    margin-top: 1rem;
  }

  }

  .whatsapp {
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h1 {
      margin-top: 20px;
      font: var(--h1);
    }
  

    button {
    background-color: var(--bg-color-dark);
    color: var(--text-color-green);
    font: var(--text-xsm);

    padding: 0.3rem 1rem;
    margin-top: 2rem;

     }

  }

  /*FOOTER*/

  footer {
    background-color: var( --bg-color-dark);
    color: var(--text-color-light);
    font: var(--text-xsm);

    display: flex;
    justify-content: space-between;

    padding: 2rem 3rem;

    word-spacing: 3px;
    
    a {
       text-decoration: none;
    }
   
  }

